body{
    background-color: hsl(0, 0%, 88%);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
}

h1 {
    text-align: center;
}
label.label-group {
    display: inline-block;
    width: 15em;
    margin: 2% 1%;
}

 .input-group, .input-group.inline {
    display: flex;
    
}
/* .input-group {
    display: flex;
    flex-direction: column;
}
.input-group.inline {
    display: flex;
    flex-direction: row;
}  */
